spec:
  inputs:
    environment:
      default: "staging"
      options:
        - "development"
        - "staging"
        - "production"
    deploy_speed:
      default: "fast"
      options:
        - "fast"
        - "thorough"
    run_security_scan:
      type: boolean
      default: false
---

stages:
  - build
  - deploy

deploy_job:
  stage: deploy
  script:
    - echo "Deploying to $[[ inputs.environment ]]"
    - echo "Scan setting is $[[ inputs.run_security_scan ]]"
  rules:
    # Example: only run if 'thorough' is selected
    - if: '"$[[ inputs.deploy_speed ]]" == "thorough"'
      when: manual
    - when: on_success