spec:
  inputs:
    entrypoint:
      default: "py-pve-cloud-entry"
      options:
        - "py-pve-cloud-entry"
        - "pve-cloud-schemas-entry"
        - "pytest-pve-cloud-entry"
        - "pve-cloud-backup-entry"
        - "terraform-provider-pxc-entry"
        - "pve-cloud-controller-entry"
        - "terraform-pxc-controller-entry"
        - "terraform-pxc-backup-entry"
        - "pve-cloud-collection-entry"
    build_increment:
      default: "patch"
      options:
        - "patch"
        - "minor"
        - "major"
    build_type:
      default: "rc"
      options:
        - "rc"
        - "release"
    source_branch:
      default: "master"
---

trigger_argo_wf:
  stage: build
  image: tobiashvmz/pve-cloud-ci:202602152241

  script:
    - export KUBECONFIG=$ARGO_KUBECONFIG

    - |
      argo submit -n argo -p "source_branch=$[[ inputs.source_branch ]]" \
        -p "git_host=$CI_SERVER_HOST" -p "git_pull_prefix=git@$CI_SERVER_HOST:$CI_PROJECT_NAMESPACE" \
        -p "git_user=$GITLAB_USER_NAME" -p "git_email=$GITLAB_USER_EMAIL" \
        -p "build_increment=$[[ inputs.build_increment ]]" -p "build_type=$[[ inputs.build_type ]]" \
        --entrypoint $[[ inputs.entrypoint ]] /scripts/argo-dag-wf.yaml

  rules:
    - when: manual

